
h1, h5 {
    text-align: center;
    letter-spacing: 0.08em;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: grey;
}

li {
    font-size: 0.9em;
    margin-top: 15px;
}

select,
#centrale,
#btnAggiungi,
input[type="date"] {
    width: 180px;
}

.container {
    background: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 15px;
    border: 2px solid grey;
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

#giornoLavorato,
#diaria,
#presenza,
#ferie,
#reperibilita,
.commessa,
.centrale,
.assistente,
.oreDiurne,
.oreNotturne,
.lavorazione,
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.buttons {
    margin-bottom: 10px;
}

.commessaLi {
    font-size: 1.1em;
    font-weight: bold;
    color: brown;
}

.trash {
    float: right;
    color: brown;
}

.oreTotaliLi,
.oreNotturneLi {
    font-size: 1.1em;
    font-weight: bold;
}

.presenza_radio input,
.diaria_radio input,
.reperibilità_radio input  {
    margin-left: 10px;
}






